/* font-family: "DosisExtraLight"; */
@font-face {
	font-family: "DosisExtraLight";
	src: url("../fonts/DosisExtraLight/DosisExtraLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "DosisLight"; */
@font-face {
	font-family: "DosisLight";
	src: url("../fonts/DosisLight/DosisLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "DosisBook"; */
@font-face {
	font-family: "DosisBook";
	src: url("../fonts/DosisBook/DosisBook.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
