/*Располагаем виджет по центру страницы*/
html {
	width: 100%;
	height: 100%;
}
body {
	background-image: url("../images/bgi.png");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	font-size: 14px;
}

.container {
	width: 100%;
	height: 100%;
	min-width: 600px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	font-size: 0;
}

.container:before {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	content: '';
}

.inner {
	display: inline-block;
	white-space: normal;
	vertical-align: middle;
	position: relative;
	width: 581px;
	height: 438px;

}

img {
	display: block;
	border: none;
	position: absolute;
	top: 0;
}

/*Оформляем левую часть виджета*/

.darkTop {
	background-image: url("../images/dark.png");
	top: 240px;
	position: absolute;
	display: block;
	width: 290px;
	height: 94px;
	color: white;
	font-size: 2.18rem;
	margin: 0;
	font-family: "DosisExtraLight", sans-serif;
	font-weight: 100;
}

.darkTop:before {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	content: '';
}

.redBottom {
	background-image: url("../images/darkRed.png");
	top: 334px;
	position: absolute;
	display: block;
	width: 290px;
	height: 104px;
	color: white;
	font-size: 1.38rem;
	margin: 0;
	font-family: "DosisExtraLight";
	font-weight: 100;
}

.redBottom:before {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	content: '';
}

.sun {
	left: 75px;
	top: 41px;
}


/*Оформялем правую часть виджета*/

.rightSide {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
}

.mainTemp {
	display: inline-block;
	margin: 11px 0;
	vertical-align: top;
	content: "";
	border-bottom: 1px solid #771921;
	color: #771921;
	font-size: 6.27rem;
	font-family: "DosisExtraLight";
}

.graf {
	display: inline-block;
	position: relative;
	width: 208px;
	height: 55px;
	border-bottom: 1px solid #771921;
	padding: 15px 0 20px 0;
}

.weather {
	position: relative;
	display: inline-block;
	padding: 0;
}

.weather li {
	float: left;
	margin: 0 auto;
	list-style: none;
	margin:0 14px;
}

.weather li > p {
	display: block;
	font-size: 0.95rem;
	color: #771921;
	font-family: "DosisExtraLight";
	padding: 0 10px;
}

.weatherImgSun {
	background-image: url("../images/sunSmall.png");
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-top: 25px;
}

.weatherImgClouds {
	background-image: url("../images/sunCloudy.png");
	width: 45px;
	height: 40px;
	display: inline-block;
	margin-top: 25px;
}

.weather li > .day {
	border-bottom: 1px solid #771921;
	margin-top: 18px;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 0;
}
.weather > li > .tempNight {
	color: black;
	font-size: 1.11rem;
	margin: 5px 0;
}

.weather > li > .tempDay {
	font-size: 1.11rem;
	margin: 9px 0 0 0;
}cover
